@page "/base64-image"
<h1>Base64-encoded Embedded Image</h1>
<p>The image below is a Base64 encoded image embedded from a remote source. Go ahead and confirm this using your browser's Developer Tools!</p>

@code {

}